<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<!--以下为代理 -->
	<bean id="userDao" class="com.physics.dao.base.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="experimentInfoDao" class="com.physics.dao.base.impl.ExperimentInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="experimentDao" class="com.physics.dao.base.impl.ExperimentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="experimentCountDao" class="com.physics.dao.base.impl.ExperimentCountDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="experimentStudentDao" class="com.physics.dao.base.impl.ExperimentStudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="newsDao" class="com.physics.dao.base.impl.NewsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="menuFirstDao" class="com.physics.dao.base.impl.MenuFirstDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="menuSecondDao" class="com.physics.dao.base.impl.MenuSecondDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="storageDao" class="com.physics.dao.base.impl.StorageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="attachmentDao" class="com.physics.dao.base.impl.AttachmentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>